.name{
  font-size: 25px;  
}
.img1{
    height: 200px;
    width: 200px;
    
}
.img2{
    height: 200px;
    width: 200px;
    margin-left: 140px;
    
}
.image{
    margin-left: 430px;
}
.containerBtn{
    margin-left: 620px;
}